@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
  --green-clr-dark-5: #087f5b;
  --green-clr-light-5: #38d9a9;
  --text-clr-white: #e6fcf5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 95%;
  max-width: 1124px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-clr-white);
  transition: all 300ms ease-in-out;
}
a:hover {
  color: var(--green-clr-light-5);
}
nav {
  background-color: var(--green-clr-dark-5);
  color: var(--text-clr-white);
}
.navbar-main {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  gap: 1.5rem;
}
